:root {
    /*Colors*/
    --pinterest-red: #e60023;
    --color-header-bg: white;
    --color-background-light: #efefef;
    --color-background-dark: #333;
    --color-text-dark: #111;
    --color-text-secondary: #767676;
    --color-text-light: white;

    /*dimensions and swhadows*/
    --header-height: 80px; 
    --border-radius-base: 8px;
    --border-radius-pill: 24px;
    --shadow-base: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*Global reset with "*" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Pinterest font stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
    min-height: 100vh;
}

#app-root {
    padding-top: calc(var(--header-height)); 
}