/* MAIN CONTENT */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 16px 20px 16px; 
}

/* GRID CONTAINER */
#images-grid {
    column-count: 6; 
    column-gap: 12px;
    width: 100%;
    max-width: 1800px;
}

/* No results msg */
.no-results {
    column-span: all; 
    margin: 0 auto;
    padding: 40px 16px; 
    
    text-align: center;
    
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

 /* ------------------------ RESPONSIVE -----------------------.- */

/* Laptops and pcs */
@media (max-width: 1400px) {
    #images-grid {
        column-count: 4;
    }
}

/*tablets and small laptops*/
@media (max-width: 1024px) {
    #images-grid {
        column-count: 3;
    }
}

/*phones and tablets*/
@media (max-width: 768px) {
    #images-grid {
        column-count: 2;
    }
    main {
        padding: 100px 10px 15px 10px;
    }
    .no-results {
        max-width: 90%; 
    }
}

/*Small phones <= 480px*/
@media (max-width: 480px) {
     #images-grid {
        column-count: 2; 
        column-gap: 8px;
    }
}

/* Very Small Phones 320px*/
@media (max-width: 320px) {
     #images-grid {
        column-count: 2; 
        column-gap: 6px;
    }
}